.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: -2.3rem;
}

.card {
  flex: 1 1 calc(20% - 20px);
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
}

.card:hover {
  border: 1px solid #9fd62f;
}

.card-img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  object-fit: cover;
  border-radius: 8px;
}

.card-title {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 18px;
}

.card-reviews {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratings-star {
  margin-right: 2px;
  font-size: 14px;
}

.card-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-price div {
  font-weight: 300;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex: 1 1 100%;
  }
}
