.homepage {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .homepage {
    flex-direction: column;
  }

  .navbar {
    order: 2;
  }

  .banner {
    order: 1;
  }

  .products {
    order: 3;
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    flex: 1 1 100%;
  }
}
