.checkout-container {
  display: flex;
  gap: 50px;
  padding: 20px;

  margin: 0 auto;
  width: 90%;
}

.checkout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.checkout-content > div {
  padding-top: 10px;
}

.delivery-address h3,
.delivery-details h3,
.payment-methods h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.checkout-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
}

.edit-button,
.payment-method-button {
  float: right;
  color: #9fd62f;
  border: none;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}

.checkout-form label {
  font-size: 16px;
  font-weight: 500;
}

.checkout-form input {
  border-radius: 7px;
  border: 2px solid #e8e8e8;
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
}

.address-appartment-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.address-container,
.appartment-container {
  flex: 1;
}

.city-state-container {
  display: flex;
  gap: 20px;
}

.state-container {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.item-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}

.item-details {
  display: flex;
  margin-top: 15px;
}

.item-details img {
  width: 100px;
  margin-right: 20px;
}

.item-name-property {
  display: flex;
  flex-direction: column;
}

.sneakers {
  font-weight: 500;
}

.item-property,
.item-value {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.item0 {
  color: #2a8703;
  font-weight: 600;
  margin: 15px 0;
}

.item-quantity {
  margin-top: 10px;
  margin-bottom: 3px;
}

.item-property p,
.quantity {
  color: #888888;
  font-weight: 600;
}

.item-value p,
.quantity-details {
  color: #888888;
  font-weight: 400;
}

.delivery-options {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.pick-up-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick-up-option p {
  margin-top: -22px;
  text-align: center;

  background-color: #f9f9f9;
  padding: 1px;
  font-size: 8px;

  font-weight: 600;
  color: #2a8703;
}

.delivery-options button {
  padding: 18px;
  border-radius: 4px;
}

.payment-method-condition {
  background-color: white;
  height: 120px;
  width: 100%;
  border-radius: 8px;
  padding: 15px;
  position: relative;
}

.payment-condition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.estimated-info {
  background-color: #fff;
  display: flex;
  padding: 14px 16px;
  border-radius: 8px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.checkout-review {
  display: flex;
  background-color: #eaf3e6;
  border-radius: 10px;
  margin-bottom: 40px;
}

.checkout-button {
  background-color: #9fd62f;
  color: white;
  border-radius: 25px;
  width: 100%;
  padding: 15px;
  font-weight: 600;
}

.checkout-terms {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.checkout-terms input {
  margin-right: 5px;
}

.checkout-terms span {
  font-weight: 500;
}
.summary-container {
  width: 30%;
}

.summary {
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 8px;
}

.summary-heading {
  margin-bottom: 25px;
}
.checkout-button {
  background-color: #9fd62f;
  color: white;
  border-radius: 25px;
  width: 100%;
  padding: 15px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
    align-items: center;
  }

  .summary-container {
    width: 100%;
  }

  .checkout-content {
    width: 100%;
  }

  .address-appartment-container {
    flex-direction: column;
  }

  .city-state-container {
    flex-direction: column;
  }
}
