* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}
.container {
  margin-left: 50px;
  margin-right: 50px;
}
a {
  text-decoration: none;
  color: rgb(95, 92, 92);
}

li {
  list-style-type: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #323232;
}

.heading {
  text-align: center;
  color: #e5e5e5;
  font-family: 'Urbanist', sans-serif;
  font-size: 48px;
  line-height: 40px;
  font-weight: 900;
  padding-top: 15px;
  letter-spacing: 10px;
}
.content-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 18px;
  }
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 480px) {
  .banner-text {
    font-size: 16px;
  }
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
}
